/* font  */

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* body style  */
*{
font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(233, 242, 252);
}
.logo{
    width: 250px;
}