/* font  */

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* body style  */
*{
font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(233, 242, 252);
}
.phn-pock{
    font-weight: 700;
    color: rgb(77, 77, 250);
}
.logo{
    width: 250px;
}
.card{
    display: flex;
    justify-content: center;
}
.card-img-top{
    width: 150px;
    height: 220px;
}
.button{
    border-radius: 8px;
    background-color: rgb(60, 145, 241);
}

